﻿@using Business.ViewModels;
@model List<CategoryIndexVM>

<table>
    <thead>
    <th>Id</th>
    <th>Title</th>
    <th>CreateAt</th>
    <th>Actions</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.CreateAt.ToShortDateString()</td>
                <td>
                    <a asp-action="delete" asp-controller="category" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>